@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap');

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/* body {
    background-color: aliceblue;
} */
.container {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: 80px 80px 5fr;
  height: 100vh;
  /* background-color: aliceblue; */
}

.nav-bar {
  display: grid;
  justify-items: center;
  background-color: bisque;
}

.main {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 25px;
}

.card * {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 1fr 1fr; */
  background-color: white;
  height: 180px;
  border-radius: 8px;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* border-left: solid 6px #581c87; */
  /* justify-items: center; */
  align-items: center;
  gap: 5px;
  box-shadow: 1px 1px 5px 2px #ccc;
  padding-top: 10px;
}

.card button {
  cursor: pointer;
  border-style: none;
  border-radius: 12px;
  width: 150px;
  padding: 10px 20px 10px 20px;
}

.card .read {
  background-color: rgb(157, 202, 157);
}

.card .not-read {
  cursor: pointer;
  background-color: rgb(202, 130, 130);
}

.card h5 {
  margin-bottom: 20px;
  color: rgb(100, 100, 100);
}

.addBookButton {
  display: grid;
  justify-items: center;
  background-color: aliceblue;
}

.addBookButton button {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  background-color: rgb(165, 92, 92);
  border-radius: 12px;
  border-style: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: aliceblue;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.formData {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formData input {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.formData button {
  margin-top: 30px;
  cursor: pointer;
  background-color: rgb(165, 92, 92);
  color: white;
  padding: 8px 19px 8px 19px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 15px -2px gray;
}

.formData .checkbox {
  margin-top: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
